In [1]:
import pandas as pd
df = pd.read_csv("missing data.csv")
df

,date,Subjects,Ali,Ahmed,Sania,Khawar,Bilal,Shani
0,12/02/2021,English,10,22.0,13.0,71.0,89.0,32.0
1,13/02/2021,Urud,NaN,32.0,23.0,81.0,20.0,57.0
2,14/02/2021,Math,30,42.0,32.0,NaN,NaN,32.0
3,15/02/2021,Computer,40,52.0,NaN,NaN,34.0,20.0
4,16/02/2021,G.Science,NaN,NaN,20.0,73.0,45.0,64.0
5,17/02/2021,Pak Studies,50,NaN,20.0,57.0,NaN,NaN
6,18/02/2021,Programming Fundamental,Computer,20.0,NaN,32.0,54.0,NaN
7,19/02/2021,Linear Algebra,70,82.0,82.0,NaN,20.0,76.0
8,20/02/2021,Ecnomics,NaN,NaN,20.0,84.0,56.0,32.0

In [2]:

print(type(df.Subjects[1]))
print(type(df.date[1]))
type(df.Ali[0])   #yeh column ki type type check krny k liye ha

<class 'str'>
<class 'str'>

str

In [3]:
df = pd.read_csv("missing data.csv" , parse_dates = ["date"] )
print(type(df.date[0]))
df

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

,date,Subjects,Ali,Ahmed,Sania,Khawar,Bilal,Shani
0,2021-12-02,English,10,22.0,13.0,71.0,89.0,32.0
1,2021-02-13,Urud,NaN,32.0,23.0,81.0,20.0,57.0
2,2021-02-14,Math,30,42.0,32.0,NaN,NaN,32.0
3,2021-02-15,Computer,40,52.0,NaN,NaN,34.0,20.0
4,2021-02-16,G.Science,NaN,NaN,20.0,73.0,45.0,64.0
5,2021-02-17,Pak Studies,50,NaN,20.0,57.0,NaN,NaN
6,2021-02-18,Programming Fundamental,Computer,20.0,NaN,32.0,54.0,NaN
7,2021-02-19,Linear Algebra,70,82.0,82.0,NaN,20.0,76.0
8,2021-02-20,Ecnomics,NaN,NaN,20.0,84.0,56.0,32.0

In [ ]:
df = pd.read_csv("missing data.csv" , parse_dates = ["date"] )
df.set_index("date")       #es sy data frame main values values Save nai hongi us k liye hamain in place ka function use krna pry ga

In [ ]:
df = pd.read_csv("missing data.csv")
df

In [ ]:
df = pd.read_csv("missing data.csv" , parse_dates = ["date"] )
df.set_index("date" , inplace = True)   #es sy data save ho jay ga ha jab hum df ko use krain gy to yeh wali he values dy ga
df

# filna functions

In [ ]:
new_df = df.fillna(0)      #yeh function blank cell or NaN values ko zero sy fill kr dy ga 
new_df

In [ ]:
new_df = df.fillna("no")      #yeh function blank cell or no values ko zero sy fill kr dy ga 
new_df

In [4]:
new_df = df.fillna({"Ali" : 0 , "Sania" : "na" , "Ahmed" : 0})      #es function sy hum apni marzi k apni marzi k cell mai changing kr sakty hain
new_df

,date,Subjects,Ali,Ahmed,Sania,Khawar,Bilal,Shani
0,2021-12-02,English,10,22.0,13.0,71.0,89.0,32.0
1,2021-02-13,Urud,0,32.0,23.0,81.0,20.0,57.0
2,2021-02-14,Math,30,42.0,32.0,NaN,NaN,32.0
3,2021-02-15,Computer,40,52.0,na,NaN,34.0,20.0
4,2021-02-16,G.Science,0,0.0,20.0,73.0,45.0,64.0
5,2021-02-17,Pak Studies,50,0.0,20.0,57.0,NaN,NaN
6,2021-02-18,Programming Fundamental,Computer,20.0,na,32.0,54.0,NaN
7,2021-02-19,Linear Algebra,70,82.0,82.0,NaN,20.0,76.0
8,2021-02-20,Ecnomics,0,0.0,20.0,84.0,56.0,32.0

In [ ]:
new_df = df.fillna(method = "ffill")      #yeh forwad fill ha khali cell main uper waly cell ki value copy kr k fill kr dy ga
print(new_df)
new_df = df.fillna(method = "bfill")    #yeh backward fill ha khali cell main neechay waly cell ki value copy kr k fill kr dy ga
print(new_df)
new_df = df.fillna(method = "ffill" , axis = "columns")   #yeh forwad fill ha lakin column wise peechay waly left side waly khali cell  ki value copy kr k fill kr dy ga
print(new_df)
new_df = df.fillna(method = "bfill" , axis = "columns")  #yeh backward fill ha lakin column wise agy waly right side waly khali cell  ki value copy kr k fill kr dy ga
print(new_df)
new_df = df.fillna(method = "ffill" , limit = 1)     #yeh forwad fill ha khali cell main uper waly cell ki value copy kr k fill kr dy ga lakin agr 2 cell 1 sath khali aagay to yeh sirf 1 cell main value paste kry ga 2sry main nai
print(new_df)
new_df = df.fillna(method = "bfill" , limit = 2)     #yeh forwad fill ha khali cell main uper waly cell ki value copy kr k fill kr dy ga lakin agr 3 cell 1 sath khali aagay to yeh sirf 2 cell main value paste kry ga 3sry main nai
print(new_df)

# interpolate

In [ ]:
df_new = df.interpolate()     #yeh function apny pas sy he guess kr k blank cell mian values paste kr dy ga
print(df_new)
df_new = df.interpolate(method = "time")     #yeh function apny pas sy he guess kr k blank cell mian values paste kr dy ga lakin beeter astimate laga kr time k hisab sy
df_new

# dropna

In [ ]:
df_new = df.dropna()   #yeh jis B row main 1 B blank cell howa wo puri row ignore kr dy ga print krty waqt
print(df_new)
df_new = df.dropna(how = "all")    #yeh jis B row main sary cell blank  howa wo puri row ignore kr dy ga print krty waqt
print(df_new)
df_new = df.dropna(thresh = 2)    #yeh agr kisi row main 2 B esy cell howy to jis main values hoe to cell print krwa dy ga
df_new

In [ ]:
print(df_new.dropna(how = "any").shape)      #yeh row or column return kr dy ga
print(df_new.dropna(how = "any"))      #jis row main 1 B cell blank howa wo row print nai kry ga sirf wohi row print kry ga jis main sub column howy
print(df_new.dropna(subset = ["Ali" , "Ahmed"] , how = "any"))    #hum apni marzi k cell b check kr sakty hain es bar wo check kry ga k ali or ahmed k cell jis row main 2no majood hain wo row print kr dy ga
print(df_new.dropna(how = "all"))    #es main jab tak puri row blank na hoe tab tak print krta rhy ga

# isnull

In [ ]:

dff = pd.read_csv("missing data.csv")
dff.set_index("date" , inplace = True)
dff

In [ ]:
dff.isnull()        #jo jo cell blank hoga us main yeh true return kry ga baki sub cell main false

In [ ]:
dff.notnull()       #jo jo cell blank hoga us main yeh false return kry ga baki sub cell main true

In [ ]:
dff.fillna(dff.mean())     #yeh jo jo cell blank hongay us puray column ka mean ly ke blank cell man fill dy ga

In [ ]:
dff.fillna(dff.median())      #yeh jo jo cell blank hongay us puray column ka mediandf ly ke blank cell man fill dy ga

In [ ]:
dff.isnull().sum()    #yeh humy count kr k btay ga k kis column main kitny cell blank hain

In [ ]:
dff[dff.Sania.isnull()]          #yeh hamain wo rows return kry ga jia main sania k cell blank hain

## Replace Function

In [ ]:
import pandas as pd
import numpy as np

dfff = pd.read_csv("missing data.csv")
dfff.set_index("date" , inplace = True) 
dfff

In [ ]:
print(dfff.replace(20 , np.NaN))   #hamry pas jahan jahan B 20 hoga wahan NaN fill kr dy ga or blank column mainb
dfff.replace([20 , 32] , np.NaN)    #hamry pas jahan jahan B 20 or 32hoga wahan NaN fill kr dy ga or blank column mainb

In [ ]:
dfff.replace([{"Subjects"  : "Computer"} , 20 , 32] , np.NaN)      #es main sirf subject k column main computer or baki jahan B 20 , 30 hain wahan NaN sy change kr dy ga

In [ ]:

 dfff.replace({"Subjects"  : "Computer" , "Ali" : 20 , "Ahmed" : 20} , np.NaN)   # es sy hum apni marzi sy jis column main jo data change NaN sy krna chahty hain wo krain gy