In [8]:
import pandas as pd
dictionary = {"first" : pd.Series([10,20,30,40,50],["urdu","eng","phy","isl","chem"]),
             "second" : pd.Series([60,20,70,80,50],["science","math","phy","isl","pf"])}
d = pd.DataFrame(dictionary)
d

         first  second
chem      50.0     NaN
eng       20.0     NaN
isl       40.0    80.0
math       NaN    20.0
pf         NaN    50.0
phy       30.0    70.0
science    NaN    60.0
urdu      10.0     NaN

In [9]:

d.index

Index(['chem', 'eng', 'isl', 'math', 'pf', 'phy', 'science', 'urdu'], dtype='object')

In [10]:
d.columns

Index(['first', 'second'], dtype='object')

In [11]:
d["third"] =d["first"]+d["second"]  #jab neechay waly cell sy delete wala function chal jay ga us k bad yeh wala cell error dy ga Q k neechay third waly column ko delete kr diya tha or yaha access kr rhy hain
d

         first  second  third
chem      50.0     NaN    NaN
eng       20.0     NaN    NaN
isl       40.0    80.0  120.0
math       NaN    20.0    NaN
pf         NaN    50.0    NaN
phy       30.0    70.0  100.0
science    NaN    60.0    NaN
urdu      10.0     NaN    NaN

In [12]:
#pop delee and insert function
d.pop("third")  #its delete the third column and return the value

chem         NaN
eng          NaN
isl        120.0
math         NaN
pf           NaN
phy        100.0
science      NaN
urdu         NaN
Name: third, dtype: float64

In [13]:
d

         first  second
chem      50.0     NaN
eng       20.0     NaN
isl       40.0    80.0
math       NaN    20.0
pf         NaN    50.0
phy       30.0    70.0
science    NaN    60.0
urdu      10.0     NaN

In [14]:
del d["first"]
d

         second
chem        NaN
eng         NaN
isl        80.0
math       20.0
pf         50.0
phy        70.0
science    60.0
urdu        NaN